PORT=5500
STAGE=dev

DB_PASSWORD=dockerhostal123456
DB_NAME=HostalPaly
DB_PORT_POSTGRES=5432
DB_PORT_DOCKER=5505
DB_HOST=localhost
DB_USER=user-hostalpaly
DB_TYPE=postgres

WEB_SERVICE_URL=http://localhost:5500/api-hostalpaly/v1

#Envío de emails
SEND_EMAIL=true #Pasamos true estará enviando email de confirmación, false no enviará ese email
MAILER_SERVICE=gmail
MAILER_EMAIL=
MAILER_SECRET_KEY=

# Para la autenticación y autorización - Jwt
JWT_SECRET=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user-hostalpaly:dockerhostal123456@localhost:5505/HostalPaly?schema=public"